/* work sans google font link */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500;600&family=Lato:wght@400;700;900&family=Noto+Sans+Bengali:wght@400;500;600&family=Open+Sans:ital,wght@0,500;0,600;0,700;1,400;1,800&family=Poppins:wght@600;700&family=Work+Sans:wght@400;500;600;700&display=swap');
/* shared css */

*{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}
.section-title{
    font-size: 1.8rem;
    font-weight: 700;
    color: #131313;
    margin-bottom: 20px;
}
.btn-primary{
    border-radius: 8px;
    color: 1.3rem;
    background-color: #FF900E;
    padding: 15px 20px;
    border: none;
    color: #FFF;
    cursor: pointer;
    font-weight: 600;
    margin-top: 20px;
}
/* header css styles */
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 200px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    font-size: 1rem;
    margin-right: 30px;
    font-weight: 500;
}
nav li, a{
    /* margin-right: 30px;(jnkar) nav li*/
    text-decoration: none;
    color: #424242;
    
}

/* banner css styles */
.content{
    display: flex;
    justify-content: center;
}
.banner-content{
    text-align: center;
    margin: 30px 0px;
}
.banner-title{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.banner-descripton{
    color:  #727272;
    line-height: 20px;
}
.banner img{
    width: 100%;
}
/* main */
main{
    max-width: 860px;
    margin: 0 auto;
}
/* features css */
.features-container{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.features-images{
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    gap: 0.9rem;
}
.features-images img{
    width: 100%;
}
.features-content{
    width: 80%;
    padding: 0px 50px;
}
.features-content p{
    color: #727272;
    font-size: 0.8rem; 
}
.features-title{
    font-size: 1.9rem;
    margin-bottom: 20px;
}
.quick-list{
    color: #727272;
    font-weight: 500;
}
.features{
    color: #FF900E;
    font-weight: 700;
}
/* experience and features css  */
.experience{
    margin-top: 80px;
    display: flex;
    gap: 20px;
}
.experience-content {
    width: 80%;
}
.experience-content p{
    margin-bottom: 30px;
}
.experience-content .section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.experience-img img{
    width: 100%;
    height: 80%;
    margin-left: 20px;
}
.card{
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 10px;
    padding: 20px;
}
.ten-years{
    border-radius: 5px;
    background: #FF900E;
    color: #FFF;
    width: 150px;
    padding: 30px;
    position: relative;
    bottom: 60px;
}
.ten-years h2{
    font-size: 1.8rem;
    margin: 0;
}
.ten-years p{
    text-align: center;
}
/* facts css */
.facts-card-container{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.fact-description{
    font-size: 0.8rem;
    color: #727272;
}
.facts-card-container .card{
    border: 1px solid #FF900E;
    border-radius: 5px;
    text-align: center;
    padding: 10px 20px;
}
.facts-card-container .card-stats{
    font-size: 1.9rem;
    color: #424242;
}
.facts-card-container .card-title{
    font-weight: 600;
    color:  #727272;
    font-size: 0.8rem;
}
.fact{
    margin-top: 80px;
}
/* sponsors css */
.sponsors{
    margin-top: 80px;
    text-align: center;
}
.sponsors-images{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
    gap: 25px;
}
.sponsors-images img{
    width: 90px;
}
/* media query */
/* small devices media query */
@media screen and (max-width: 576px){
    header{
        padding: 20px;
    }
    nav, .sponsors-images{
        flex-direction: column;
    }
    nav > ul{
        margin-top: 20px;
    }
    .experience{
        flex-direction: column;
    }
    .experience-content{
        margin-left: 20px;
    }
    .experience-img img{
        width: 90%;
        height: auto;
    }
    .features-container{
        flex-direction: column;
    }
    .features-images{
        grid-template-columns: 1fr;
    }
    .features-content{
        padding: 0px 20px;
    }
    .facts-card-container{
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .fact{
       padding: 0px 50px;
    }

}
/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 960px){
    header{
        padding: 30px;
    }
    nav, .features-container .experience{
        flex-direction: column;
    }
    .experience{
        flex-direction: column;
    }
    .experience-img img{
        width: 90%;
        height: auto;
    }
    nav > ul, .features-content{
        margin-top: 20px;
    }
    .facts-card-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .fact{
        padding: 30px;
    }
}