/* work sans google font link */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500;600&family=Lato:wght@400;700;900&family=Noto+Sans+Bengali:wght@400;500;600&family=Open+Sans:ital,wght@0,500;0,600;0,700;1,400;1,800&family=Poppins:wght@600;700&family=Work+Sans:wght@400;500;600;700&display=swap');

*{
    font-family: 'Hind', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans Bengali', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* header css styles */
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 30px 200px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav > ul{
    display: flex;
    gap: 40px;

}
nav li, a{
    /* margin-right: 30px;(jnkar) nav li*/
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
    color: #424242;
    font-weight: 500;
}
.nav-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: #131313;
}
/* banner css styles */
.banner-content{
    width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    color: #131313;
    font-size: 55px;
    font-weight: 700;
}
.banner-descripton{
    color:  #727272;
    font-size: 15px;
    line-height: 20px;
}